<h1> <%= @post.title %> </h1>

<br>

<p> <%= @post.body %> </p>

<%= link_to "Edit", edit_post_path %>
<br>
<%= link_to "Delete", post_path(@post), :data => {:confirm => "Are you sure?", :method => "delete"} %>
<br>

<%= link_to "Comment", new_post_comment_path(@post) %>

<ul>
  <% @post.comments.each do |comment| %>

  <li> <%= comment.name %> said "<%= comment.body %>" at <%= comment.created_at.to_time %>
        <%= link_to "Edit Comment", edit_post_comment_path(comment, @post) %></li>

  <% end %>
</ul>
